<section class="header">
  <nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%# <img src="/images/logo-part-sm.png" class="d-inline-block align-top"> %>
        <span>Boulder Bike Tour</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav ml-auto ">

        </ul>
      </div>
    </div>
  </nav>
</section>    
